<!DOCTYPE html>
<html ng-app="paceApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			background-color: #FCFCFC;
			margin-right: 5px;
			margin-left: 5px;
		}
		.row {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	</style>

	<title>Pace</title>
</head>
<body ng-controller="calcCtrl">
	<div style="height:4px;width:100%;background:#FF4719"></div>
	<div class="container">
		<div class="row" style="text-align:center;">
			<div class="col-md-2 col-md-offset-3 col-xs-4" style="text-align:right;margin-top:20px">
				<h1><strong>easy</strong></h1>
			</div>
			<div class="col-md-2 col-xs-4" style="text-align:center">
				<img src="/img/watch.png" height="100px" width="100px"/>
			</div>
			<div class="col-md-2 col-xs-4" style="text-align:left;margin-top:20px">
				<h1><strong>pace</strong></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" style="text-align:center;"><h2>What was your...</h2></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-xs-3 col-md-offset-3 control-label" style="text-align:left;"><h3>Time?</h3></label>
						<div style="margin-top:18px">
							<div class="col-md-1 col-sm-2 col-xs-3">
								<input type="text" class="form-control" ng-model="timeHrs" onClick="this.setSelectionRange(0, this.value.length);" ng-change="calculate()" placeholder="hrs" tabindex="1">
							</div>
							<div class="col-md-1 col-sm-2 col-xs-3">
								<input type="text" class="form-control" ng-model="timeMin" onClick="this.setSelectionRange(0, this.value.length);" ng-change="calculate()" placeholder="min" tabindex="2">
							</div>
							<div class="col-md-1 col-sm-2 col-xs-3">
								<input type="text" class="form-control" ng-model="timeSec" onClick="this.setSelectionRange(0, this.value.length);" ng-change="calculate()" placeholder="sec" tabindex="3">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="raceRow" class="row hide">
			<div class="col-sm-12">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-xs-3 col-md-offset-3 control-label" style="text-align:left;"><h3>Race?</h3></label>
						<div style="margin-top:18px">
							<div class="col-md-1 col-sm-2 col-xs-3" ng-repeat="r in rangeLbls" style="padding-right:2px;margin-bottom:2px;">
								<button type="button" class="btn btn-sm btn-danger" style="width:100%;" ng-click="applyDistance(r.d)">{{r.t}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" style="margin-top:0px;margin-bottom:0px;">
			<div class="col-xs-12" style="text-align:center">
				<h3 style="margin:0;padding:0"><strong>or</strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-xs-5 col-sm-3 col-md-offset-3 control-label" style="text-align:left;"><h3>Distance?</h3></label>
						<div style="margin-top:18px">
							<div class="col-md-1 col-sm-2 col-xs-3">
								<input type="text" class="form-control" ng-model="dist" onClick="this.setSelectionRange(0, this.value.length);" ng-change="calculate()" placeholder="0" tabindex="4">
							</div>
							<div class="col-md-2 col-sm-3 col-xs-4">
								<select class="form-control" ng-model="unit" ng-change="calculate()" tabindex="5">
									<option>Miles</option>
									<option>Kilometers</option>
									<option>Meters</option>
									<option>Yards</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="paceRow" class="row hide">
			<div class="col-xs-12" style="text-align:center;"><h2>You ran <span style="color:#FF4719">{{paceMin}}:{{paceSec}}</span> per {{unitStr}}!</h2></div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="/js/controllers.js"></script>
</body>
</html>
